{% comment %} Placeholder to allow defining custom head, in principle, you can
add anything here, e.g. favicons: 1. Head over to
https://realfavicongenerator.net/ to add your own favicons. 2. Customize default
_includes/custom-head.html in your source directory and insert the given code
snippet. {% endcomment %}
<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-L72WRP127J"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-L72WRP127J");
</script>
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5877350368014861"
  crossorigin="anonymous"
></script>
